<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SpryStore E-commerce Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap" rel="stylesheet">
  <!-- Template CSS -->

</head>
<body>
	
<section>
	<!-- /products-->
	<div class="ecom-contenthny py-5">
		<div class="container py-lg-5">
			<h3 class="hny-title mb-0 text-center">Eat With <span>Us</span></h3>
			<p class="text-center">Handpicked Pizzas for you</p>
			<!-- /row-->
			
			<div class="ecom-products-grids row mt-lg-5 mt-3">
			
				<div class="col-lg-3 col-6 product-incfhny mt-4">
					
					<div class="product-grid2 transmitv">
						<div class="product-image2">
						{{range .}}
							<a href="#">
								<img class="pic-1 img-fluid" src="{{.FullPath}}">
								
							</a>
							{{end}}
						</div>	
				</div>
					
			</div>
		
		</div>
		
	</div>

</section>
</body>

</html>
